<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="stylesheet" href="CSS/index.css">
    <link rel="stylesheet" href="CSS/DSGiaoDich.css">

    <title>Phần mềm quản lí nhân viên hàng đầu Việt Nam</title>
</head>

<body>
    <header class="shadow p-3 mb-4 bg-white rounded">
        <div class="header2" style="margin-top: 5px;">
            <a href="QLKH.html"><i class="fas fa-users"></i>Quản lí khách hàng</a>
            <a href="BanHang.html"><i class="fas fa-shopping-basket"></i>Bán hàng</a>
            <div class="dropdown ms-5">
                <div type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    <a href=""><i class="fas fa-user-tie"></i>Tài khoản</a>
                </div>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="TaiKhoan.html"><i class="fas fa-users-cog"></i>Tài khoản của tôi</a></li>
                    <li><a class="dropdown-item" href="login.html"><i class="fas fa-sign-out-alt"></i>Đăng xuất</a></li>
                </ul>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="DSGiaoDich">
            <h5>Danh sách giao dịch của khách hàng<i class="ms-1">Nguyễn Văn C</i></h5>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Mã giao dịch</th>
                        <th scope="col">Ngày giao dịch</th>
                        <th scope="col">Tổng lợi nhuận</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>JK887598</td>
                        <td>12-6-2021</td>
                        <td>1000$</td>
                        <td><a href="ChiTietGiaoDich.html"><i>Xem chi tiết</i></a></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>JK887598</td>
                        <td>12-6-2021</td>
                        <td>1000$</td>
                        <td><a href="ChiTietGiaoDich.html"><i>Xem chi tiết</i></a></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>JK887598</td>
                        <td>12-6-2021</td>
                        <td>1000$</td>
                        <td><a href="ChiTietGiaoDich.html"><i>Xem chi tiết</i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <!-- chân trang -->
    <div class="footer mt-4 ">
        <div class=footer-left>
            <h5 class="footer-left-title">Cong ty ABC Việt Nam</h5>
            <ul>
                <li class="footer-left-item">Địa chỉ: Km10 - Nguyễn Trãi - Thanh Xuân - hà Nội</li>
                <li class="footer-left-item">Số điện thoại: 0123456789</li>
                <li class="footer-left-item">Email: ctyabcvietnamh@gmail.com</li>
            </ul>
        </div>
        <div class="footer-right">
            <h5 class="footer-right-title">Google map</h5>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.4083037682194!2d105.7818576144072!3d21.01634269357922!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454ab43c0c4db%3A0xdb6effebd6991106!2zVMOyYSBuaMOgIEtlYW5nbmFtIEjDoCBO4buZaQ!5e0!3m2!1svi!2s!4v1632482368958!5m2!1svi!2s"
                width="280" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js"></script>
</body>

</html>