<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="stylesheet" href="CSS/index.css">
    <link rel="stylesheet" href="CSS/QLKH.css">
    <title>Quản lí khách hàng</title>
</head>

<body>
    <header class="shadow p-3 mb-4 bg-white rounded">
        <div class="header2" style="margin-top: 5px;">
            <a href="QLKH.html"><i class="fas fa-users"></i>Quản lí khách hàng</a>
            <a href="BanHang.html"><i class="fas fa-shopping-basket"></i>Bán hàng</a>
            <div class="dropdown ms-5">
                <div type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    <a href=""><i class="fas fa-user-tie"></i>Tài khoản</a>
                </div>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="TaiKhoan.html"><i class="fas fa-users-cog"></i>Tài khoản của tôi</a></li>
                    <li><a class="dropdown-item" href="login.html"><i class="fas fa-sign-out-alt"></i>Đăng xuất</a></li>
                </ul>
            </div>
        </div>
    </header>


    <div class="boloc">
        <a name="" id="" th:href="@{/khachhang/addUser}" class="btn btn-primary chonKH" role="button">Thêm khách hàng</a>
        <div class="p-12">
            <div class="input-group">
                <b>Tìm kiếm theo số điện thoại:</b>
                <div class="ms-2 form-outline">
                    <input class="form-control" type="text" id="myInput" onkeyup="myFunction()" placeholder="Tìm kiếm ..." title="Type in a name"  />
                </div>

                <button type="button" class="btn btn-primary">
                  <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="table-KH " id="myTable">
        <table class="table table-hover">
            <thead class="">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Họ và tên</th>
                    <th scope="col">Giới tính</th>
                    <th scope="col">Số điện thoại</th>
                    <th scope="col">Email</th>
                    <th scope="col">Địa chỉ</th>
                    <th scope="col">Tổng xu</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody th:each="kh : ${listKhachHang}">
                <tr>
                    <th scope="row" th:text="${kh.idKhachHang}"></th>
                    <td th:text="${kh.name}"></td>
                    <td th:text="${kh.gender}"></td>
                    <td th:text="${kh.phone}"></td>
                    <td th:text="'CHO DE'+ ${kh.email}"></td>
                    <td th:text="${kh.address}"></td>
                    <td>
                        <i style="color: blue" class="far fa-eye" data-bs-toggle="modal" data-bs-target="#xem" ></i>
                        <i style="color: rgb(32, 143, 82)" class="far fa-edit"></i>
                        <i style="color: rgb(225, 0, 255)" class="far fa-trash-alt" data-bs-toggle="modal" data-bs-target="#xoa" id="submit"
                           th:onclick="'deleteKH(\'' + ${kh.idKhachHang} + '\');'"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- xem chi tiết KH -->

    <div class="modal fade" id="xem">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>
                        <!--https://www.w3schools.com/howto/img_avatar2.png -->
                        <img src="https://www.w3schools.com/howto/img_avatar.png" class="avatar"> Thông tin khách hàng Nguyễn Hữu M
                    </h5>
                </div>
                <div class="modal-body">
                    <p>Giới tính: <b>Nam</b></p>
                    <p>Ngày sinh: <b>08-02-2000</b></p>
                    <p>Số điện thoại: <b>090420435</b></p>
                    <p>Email: <b>mnh822@gmail.com</b></p>
                    <p>Địa chỉ: <b>Tiên Du - Bắc Ninh</b></p>
                    <p>Tổng lượt giao dịch: <b>24</b><a class="ms-1" href="DSGiaoDich.html"><i>(Xem giao dịch)</i></a></p>
                    <p>Giao dịch gần nhất: <b>14-11-2021</b></p>
                    <p>Tổng số tiền giao dịch <b>1.280$</b></p>
                    <p>Tổng xu: <b>12000</b></p>
                </div>
            </div>
        </div>
    </div>


    <!-- xóa KH -->
    <form method="post" th:action="@{/khachhang/saveDelete}">
    <div class="modal fade" id="xoa" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Cảnh báo</h5>
                </div>
                <div class="modal-body" >
                    Bạn có chắc chắn muốn xóa không
                    <p id="modal_body"></p>
                    <input id="abc" name="idDelete" hidden>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary" >Xóa</button>
                </div>
            </div>
        </div>
    </div>
    </form>

    <!-- chân trang -->
    <div class="footer mt-4">
        <div class=footer-left>
            <h5 class="footer-left-title">SQA nhóm 8</h5>
            <ul>
                <li class="footer-left-item">Địa chỉ: Km10 - Nguyễn Trãi - Thanh Xuân - hà Nội</li>
                <li class="footer-left-item">Số điện thoại: 0123456789</li>
                <li class="footer-left-item">Email: sqanhom8@gmail.com</li>
            </ul>
        </div>
        <div class="footer-right">
            <h5 class="footer-right-title">Google map</h5>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.4083037682194!2d105.7818576144072!3d21.01634269357922!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454ab43c0c4db%3A0xdb6effebd6991106!2zVMOyYSBuaMOgIEtlYW5nbmFtIEjDoCBO4buZaQ!5e0!3m2!1svi!2s!4v1632482368958!5m2!1svi!2s"
                width="280" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>

    <!-- script tìm KH theo sđt -->
    <script>
        function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
    <script type="text/javascript">
        // $("#submit").click(function () {
        //     // var name = $("#name").val();
        //     // var marks = $("#marks").val();
        //     // var str = "You Have Entered "
        //     //     + "Name: " + name
        //     //     + " and Marks: " + marks;
        //     $("#modal_body").html("hahahaha");
        // });
        function deleteKH(id) {
            console.log(id)
            document.querySelector("#modal_body").textContent = id;
            document.querySelector('#abc').value = id;
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js"></script>
</body>

</html>